MONAD_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_SECONDARY_RPC_URL=
MONAD_USDC_ADDRESS=0x534b2f3A21130d7a60830c2Df862319e593943A3
MONAD_COMMERCE_ADDRESS=
MONAD_EVALUATOR_ADDRESS=
MONAD_BUYER_PRIVATE_KEY=
MONAD_PROVIDER_PRIVATE_KEY=
MONAD_EVALUATOR_PRIVATE_KEY=
MONAD_RELAYER_PRIVATE_KEY=
XYX_ADMIN=
XYX_EVALUATOR_ATTESTOR=
XYX_PAUSER=
VERDICT_LIFETIME=300
IPFS_PROVIDER=kubo
IPFS_API_URL=http://127.0.0.1:5001
IPFS_AUTHORIZATION=
# Optional public Pinata mode: use IPFS_PROVIDER=pinata and set both below.
PINATA_JWT=
IPFS_GATEWAY_URL=
IPFS_PUBLIC_GATEWAY_URL=
XYX_PUBLIC_MANIFEST_URI=
XYX_PUBLIC_MANIFEST_HASH=
